.js-fadein {
  opacity: 0;
  translate: 0 15px;
}

.js-fadein.is-inview {
  opacity: 1;
  translate: 0;
  transition:
    opacity 0.7s ease,
    translate 0.7s ease;
}

@media screen and (max-width: 768px) {
  .js-fadein-sp {
    opacity: 0;
    translate: 0 15px;
  }

  .js-fadein-sp.is-inview {
    opacity: 1;
    translate: 0;
    transition:
      opacity 0.7s ease,
      translate 0.7s ease;
  }
}

@keyframes button-switch {
  0%,
  20% {
    opacity: 0;
    visibility: hidden;
  }

  35%,
  65% {
    opacity: 1;
    visibility: visible;
  }

  80%,
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes cursor-switch {
  0%,
  20% {
    opacity: 1;
    visibility: visible;
  }

  35%,
  65% {
    opacity: 0;
    visibility: hidden;
  }

  80%,
  100% {
    opacity: 1;
    visibility: visible;
  }
}
